<!DOCTYPE html>
<html ng-app>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf8"/>
        <title>BEM-XJST online demo</title>
        <link href="css/cm.css" type="text/css" rel="stylesheet" />
        <link href="css/index.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <a href="https://github.com/bem/bem-xjst/"><img class="forkme" src="img/forkme.png" alt="Fork me on GitHub"></a>
        <div class="layout abs" id="cnt" ng-controller="XJSTController">
            <div class="header abs">
                <h1><a href="https://github.com/bem/bem-xjst/">BEM-XJST</a><a class="version" href="https://github.com/bem/bem-xjst/releases/">4.2.4</a> online demo</h1>
            </div>
            <div class="editors abs">
                <div class="data abs">
                    <h2 class="title">Data</h2>
                    <textarea class="code abs" id="input-bemjson" ng-model="data.inputBemjson"></textarea>
                </div>
                <div class="tmpl abs">
                    <h2 class="title">Templates</h2>
                    <textarea class="code abs" id="input-matchers" ng-model="data.inputMatchers"></textarea>
                </div>
            </div>
            <div class="result abs">
                <h2 class="title">Result</h2>
                <textarea class="code abs" id="result-html">{{compiledHtml()}}</textarea>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script>var exports = {}</script>
        <script src="js/bundle.js"></script>
        <script src="js/index.js"></script>
        <script src="js/jshint.js"></script>
        <script src="js/codemirror.js"></script>
        <script>
            function replaceTextarea(textArea, vn) {
                var div = document.createElement('div');
                div.className = 'abs code';
                textArea.parentNode.insertBefore(div, textArea);
                textArea.style.display = 'none';
                var cm = CodeMirror(div,
                    {
                        value: textArea.value,
                        mode: 'javascript',
                        theme: 'twilight',
                        indentUnit: 4,
                        indentWithTabs: false,
                        lineNumbers: true,
                        styleActiveLine: true,
                        autoCloseBrackets: true,
                        matchBrackets: true,
                        gutters: ["CodeMirror-lint-markers"],
                        lintWith: vn === 'inputMatchers' ? CodeMirror.javascriptValidator : undefined,
                        extraKeys: {
                          Tab: function(cm) {
                            var spaces = Array(cm.getOption("indentUnit") + 1).join(" ");
                            cm.replaceSelection(spaces, "end", "+input");
                          }
                        }
                    }
                );
                var scope = angular.element(document.getElementById('cnt')).scope();
                var timer = null;
                cm.on('change', function() {
                    if (timer) {
                        window.clearTimeout(timer);
                    }
                    timer = window.setTimeout(function(){
                        scope.data[vn] = cm.doc.getValue();
                        var res = document.getElementById('result-html');
                        res.value = scope.compiledHtml();
                        res.onchange();
                    }, 300);
                });
            }
            function replaceOutput(textArea) {
                var div = document.createElement('div');
                div.className = 'abs code';
                textArea.parentNode.insertBefore(div, textArea);
                textArea.style.display = 'none';
                var cm = CodeMirror(div,
                    {
                        value: textArea.value,
                        mode: 'htmlmixed',
                        theme: 'twilight',
                        readOnly: true
                    }
                );
                textArea.onchange = function() {
                    cm.doc.setValue(textArea.value);
                };
            }
            window.setTimeout(function() {
                replaceTextarea(document.getElementById('input-bemjson'), 'inputBemjson');
                replaceTextarea(document.getElementById('input-matchers'), 'inputMatchers');
                replaceOutput(document.getElementById('result-html'));
            }, 0);
        </script>
    </body>
</html>
