.header
    font-weight: normal
    line-height: 50px
    margin: 0 10px

    &__title
        font-size: 1em
        font-weight: normal
        margin: 0 30px 0 0
        padding: 0

    &__title,
    &__misc
        display: inline-block
