$gap = 10px

.demo
    position: absolute
    top: 52px
    left: $gap
    bottom: 0
    right: $gap
    background: #fff

    $bottom = 33%

    &__top
        position: absolute
        top: 0
        left: 0
        bottom: $bottom
        right: 0

    &__bottom
        position: absolute
        top: 100% - $bottom
        left: 0
        bottom: $gap
        right: 0
        margin-top: $gap

    &__bemjson
        margin-right: ($gap / 2)
        position: absolute
        top: 0
        left: 0
        bottom: 0
        right: 50%

    &__templates
        margin-left: ($gap / 2)
        position: absolute
        top: 0
        left: 50%
        bottom: 0
        right: 0

    &__paranja
        position: absolute
        top: 0
        bottom: $gap
        left: 0
        right: 0
        background: rgba(100, 100, 100, 0.2)
        opacity: 0
        border-radius: 3px

    &__spinner
        position: absolute
        top: 50%
        left: 50%
        right: 0
        bottom: 0
        width: 28px
        height: 28px
        margin: -14px 0 0 -14px

    &__content,
    &__paranja
        transition: opacity 0.3s

    &_state_loading &__content
        opacity: 0

    &_state_loading &__paranja
        opacity: 1

    &_state_loaded &__paranja
        display: none
